PyJWT==1.4.2
chardet==2.2.1
colorama==0.2.5
falcon==1.1.0
gunicorn==19.7.0
html5lib==0.999
profig==0.4.1
python-mimeparse==1.6.0
requests==2.2.1
six==1.5.2
urllib3==1.7.1
virtualenv==15.0.0
wheel==0.24.0
